NUTRIFIT_DB_NAME=nutrifit
NUTRIFIT_DB_USER=nutrifit
NUTRIFIT_DB_PASSWORD=nutrifit
NUTRIFIT_DB_PORT=5433

NUTRIFIT_JWT_SECRET=desarrollo-nutrifit-clave-secreta-cambiar-en-produccion-0123456789
NUTRIFIT_JWT_EXPIRATION_MINUTES=10080
